body{
            background-image: url("https://i.ibb.co/4Ny9XqB/index.png");
            background-repeat: no-repeat;
            background-size: 100%;
}

header {
  font-family: "Arial", sans-serif;
  line-height: 1300px;
  font-size: 30px;
  font-weight:bold;
}
