.parallax {
  background-image: url("images/burger 1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 50px;
  color: black;
  height: 100px;
  text-align: center;
}

.title2 {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  height: 100px;
  text-align: center;
}
