body {
  background-color: black;
}

h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
  color: white;
}

{
    box-sizing: border-box;

}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.mycontainer {
    -ms-flex: 100%;
    flex: 100%;
    padding: 0 4px;
    position: relative;
    width: 100%;
}

.mycontainer img {
    margin-top: 8px;
    vertical-align: middle;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: skyblue;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: pink;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: palegreen;
}

.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: coral;
}

.mycontainer:hover .overlay {
  opacity: 1;
}

.mycontainer:hover .overlay2 {
  opacity: 1;
}

.mycontainer:hover .overlay3 {
  opacity: 1;
}

.mycontainer:hover .overlay4 {
  opacity: 1;
}

.text {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
