body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;

}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 300px;
  text-align: center;
  padding-top: 25px;
  padding-left: 200px;
}

.p {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 180px;
  text-align: center;
  padding-top: 25px;
  padding-left: 200px;
}

.button {
 font-family: 'Source Sans Pro', sans-serif;

}
