body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;

}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 100px;
  text-align: left;
  padding-top: 25px;
  padding-left: 390px;
}

.p {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  padding-top: 25px;
  padding-left: 50px;
}

.h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 10px;
  text-align: center;
  padding-top: 25px;
  padding-left: 50px;
}

.button {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: bold;

}
