body {
  background-color: white;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 30px;
  text-align: left;
  padding-top: 25px;
  padding-left: 200px;
}

.map {
  width: 600px;
  height: 300px;
}
