body {
  background-color: white;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 80px;
  text-align: center;
  padding-top: 25px;
  padding-left: 150px;
}

.map {
  width: 600px;
  height: 300px;
}

h2 {
  color: skyblue;
}

p {
  color: white;
}
