body {
  background-color: black;
}

.title {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 25px;
  padding-left: 150px;
}

.map {
  width: 600px;
  height: 300px;
}

h2 {
  color: skyblue;
}

p {
  color: white;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 30px;
    width: 120px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#home {
    top: 60px;
    background-color: yellow;
}

#breakfast {
    top: 140px;
    background-color: skyblue;
}

#lunch {
    top: 220px;
    background-color: pink;
}

#dinner {
    top: 300px;
    background-color: palegreen;
}

#dessert {
  top: 380px;
  background-color: coral;
}
